<!DOCTYPE html>
<html lang="en">
    <head>
      <!--Icon for Chrome tab-->
      <!-- <link rel="shortcut icon" type="image/x-icon" href="images/logo/QW_logo_transparent_32px.png"/> -->
      <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Journal is an app that reminds you to document your day.">
        <meta charset="utf-8">
        <title>Journal Reminders</title>

        <!--Make consistent across browsers-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!--Bootstrap-->
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="all">
        <!--Own style-->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/login-register.css">
    </head>
    <body>
        
        <nav class="headings">
            <h1>Journally</h1>
            <ul>
                <li><a class="btn btn-outline-primary btn-lg" href="/"role="button">Home</a></li>
                <li><a class="btn btn-outline-primary btn-lg" href="login" role="button">Login</a></li>
                <li><a class="btn btn-outline-primary btn-lg" href="register"role="button">Register</a></li>
            </ul>
        </nav>
        <div class="display-messages">
            <div>Log into your account</div>
        </div>

            <div class="container mt-4">
                <div class="card">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <!--send POST requrest, make sure name attribute is present for POST to work!-->
                        <form action="/login/login" method="POST">
                            <div class="form-group">
                            <label for="email">Your Email</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">Forgot?</small>
                            </div>
                            <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>

                            <!--<button type="submit" class="btn btn-primary">Login</button>-->
                            <div class="button">
                                <button type="submit" class="btn btn-outline-primary login-register">Login</button>
                            </div>
                        </form>
                    </div>
                </div>

            <!--receive message from /controllers/auth.js - ERROR or success -->
           {{#if message}}
                {{#if success}}
                <h4 class="alert alert-success mt-4">{{message}}
                    <div>Welcome Home, {{username}}!</div>
                    <div>Your email: {{email}}</div>
                </h4>
                
                <button type="button" class="btn btn-info"><a href="/journals">Take me to my journals</a></button>
                {{else}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
                {{/if}}
            {{/if}}
        </div>
    </body>
</html>